@model dynamic              
@{
    ViewBag.Title = "New Match";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Match</h2>
<form>
    <div class="form-group">
        <label>League</label>
        <input type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label>Clubs</label>
        <input type="text" class="form-control" />
    </div>
    <button class="btn btn-primary">Submit</button>
</form>
