@model IEnumerable<SoccerUpdated.Models.Players>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<button class="btn btn-info">@Html.ActionLink("New","New","Players")</button>
<table id="players" class=" table table-bordered">
    <thead>
        <tr>
            <td>Player</td>
            <td>Club</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
   <script>
       $(document).ready(function () {
          var table = $("#players").DataTable({
               ajax: {
                   url: "/api/players",
                   dataSrc: ""
               },
               columns: [
                   {
                       data: "name",
                       render: function (data, type, player) {
                           return "<a href='/players/edit/" + player.id + "'>" + data + "</a>";
                       }
                   },
                   {
                       data: "club.name"
                   },
                   {
                       data: "id",
                       render: function (data) {
                           return "<button class='btn-link js-delete' data-player-id=" + data + ">Delete</button>";
                       }
                   }
               ],
           });

           $("#players").on("click", ".js-delete", function () {
               var button = $(this);

               bootbox.confirm("Are you sure to delete this player?", function (result) {
                   if (result) {
                       $.ajax(
                           {
                               url: "/api/players/" + button.attr("data-player-id"),
                               method: "DELETE",
                               success: function () {
                                   table.row(button.parents("tr")).remove().draw();
                               }
                           });
                   }
               });

           });
       })

    </script> 
}