@model IEnumerable<SoccerUpdated.Models.Players>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<button class="btn btn-info">@Html.ActionLink("New","New","Players")</button>
<table id="players" class=" table table-bordered">
    <thead>
        <tr>
            <td>Player</td>
            <td>Club</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
        {
        <tr>
            <td>@Html.ActionLink(player.Name ,"Edit","Players", new { id = player.Id}, null)</td>
            @if (!(player.Club.Name == null))
            { <td>@player.Club.Name</td>}
            <td>
               <button data-player-id="@player.Id" class="btn-link js-delete"> Delete </button>
            </td>
        </tr>
        }
    </tbody>
</table>

@section scripts
{
   <script>
       $(document).ready(function ()
       {
           $("#players").on("click", ".js-delete",function ()
           {
               var button = $(this);

               bootbox.confirm("Are you sure to delete this player?", function (result) {
                   if (result) {
                       $.ajax(
                           {
                               url: "/api/players/" + button.attr("data-player-id"),
                               method: "DELETE",
                               success: function () {
                                   button.parents("tr").remove();
                               }
                           });
                   }
               });
               
           });
            
       });

    </script> 
}