@model IEnumerable<SoccerUpdated.Models.Players>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<button class="btn btn-info"><a href="/players/new">New</a></button>
<table class=" table table-bordered">
    <thead>
        <tr>
            <td>Player</td>
            <td>Club</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
        {
        <tr>
            <td>@Html.ActionLink(player.Name ,"Edit","Players", new { id = player.Id}, null)</td>
            @if (!(player.Club.Name == null))
            { <td>@player.Club.Name</td>}
        </tr>
        }
    </tbody>
</table>