@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


    <div class="card">
        <img src="" alt="Prabindra" style="width:100%">
        <h1>Prabindra Sapkota</h1>
        <p class="title">Web developer ,Game Developer ,Student</p>
        <strong>Mail:</strong> <a href="mailto:prabindrasapkota89@gmail.com">Prabindrasapkota89@gmail.com</a>
        <p>New Summit College</p>
     </div>
